.App {
  text-align: center;
}

body {
  background-image: url(https://scontent-lhr8-1.xx.fbcdn.net/v/t1.15752-9/88228342_507946993240255_3057130203437334528_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=RMOLR4XNdc0AX-fjk9c&_nc_ht=scontent-lhr8-1.xx&oh=c44007299c2c42e307a18f8b207dd440&oe=5EEEDE81);
  /* background-color: #61dafb; */
  font-family: "Spartan";
  font-size: 16px;
}

input {
  width: 160px;
  height: 20px;
  border-radius: 10px;
  font-size: 16px;
  background-color: darkturquoise;
}

label {
  font-weight: 500;
}

button {
  height: 25px;
  border-radius: 16px;
  font-size: 14px;
}

li {
  list-style: none;
}

.questionInput {
  width: 400px;
  text-align: center;
}
